
@import "tailwindcss";

@theme {
  --font-mulish: var(--font-mulish);
  /* You can also set it as the default font-sans: */
  --font-sans: var(--font-mulish), system-ui, sans-serif;
}
body::selection {
  background-color: #303846;
}
a div{
  width: 100%;
  height: 0.2px;
  transform: scale(0);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
}
a:hover div{
  transform: scale(1);
}